# Emacs artifacts
*~
\#*
.\#*

# Vi(m) artifacts
*.swp

# Language server artifacts
.lsp/

# JetBrains artifacts
.idea/
cljblog.iml

# Clojure artifacts
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
